@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Risque&display=swap');

body {
    font-family: "Raleway", sans-serif;
}

/*---------------Header---------*/

header {
    margin: 0;
}

/*Nav - background color code taken from (https://hexcolorspicker.com/tools/materialui/uigradients/uigradients/index.html#ViceCity) and edited slightly*/
     
 /*Display and Flex-direction declarations have been given by my mentor Nishant Kumar*/
 .mob-menu {
    display: flex;
    flex-direction: row;
} 

.navbar-toggler {
    font-size: 1rem;
 }

nav {
    background: #000046; 
    background: -webkit-linear-gradient(to right, #01013f, #3494E6); 
    background: linear-gradient(to right, #01013f, #3494E6); 
    min-height: 80px;
    font-family: "Risque", sans-serif;
    padding-bottom: 10em;
}

nav a .logo {
    font-size: 12px;
    background-position: center;
}

.pages {
    height: 30px;
    width: 70px;
    text-align: center;
    padding: 0;
}

.pages .active {
    height: 30px;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238, 196, 10, 0.9);
    color: #fff;
    font-family: "Risque", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

/*nav-left & nav-right taken from stackoverflow (https://stackoverflow.com/questions/26078771/rounded-corners-for-navbar)*/
.nav-left {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px; 
}

.nav-right {
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}

/*--------------Footer-----------*/

/*---Footer position code taken from - stackoverflow (https://stackoverflow.com/questions/51160979/how-to-make-footer-stay-on-the-bottom-of-the-page-bootstrap-4)---*/
footer {
    width: 100%;
    background: #000046; 
    background: -webkit-linear-gradient(to right, #01013f, #3494E6); 
    background: linear-gradient(to right, #01013f, #3494E6); 
    min-height: 120px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.booking-links {
   text-decoration: none;
   color: #3494E6;
   font-family: inherit;
   font-weight: 300;
   padding-top: 1em; 
   font-size: 18px;
}

.btn-signup, 
.btn-sum-win {
    background-color: rgba(238, 196, 10, 0.9);
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
}

.btn-signup {
    border-radius: 30px;
    margin-bottom: 2em;
}

.socials {
    padding-top: 3em;
}

.socials li a i {
    height: 35px;
    width: 35px;
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.copyright {
    font-size: 19px;
}

/*------------Hero image for home & sign up pages*/

div.hero-image {
    width: 100%;
    height: 280px;
    background: url("../images/got-hero.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/*---------Welcome Part----*/

article {
    padding-top: 5em;
    padding-bottom: 1em;
}

.welcome-part {
    text-align: center;
}

/*--------Main Part  for Home page- text-shadow code taken from codesdope (https://www.codesdope.com/blog/article/create-multi-colored-text-outline-using-css/) */

.main-part {
    text-align: center;
}

.headings h2 {
    color: rgba(219, 181, 9, 0.9);
    text-shadow: -1px 1px 0 #222522;
    margin-top: 1em;
}

.headings h3, h4 {
    color: #222522;
    text-shadow: -1px 1px 0 rgba(238, 196, 10, 1);
    margin-top: 0.5em;
}

hr {
    background-color: rgba(219, 181, 9, 0.7);
    width: 10em;
    height: 0.2em;
    border: 0;
}

/*---------------Home Page summer and winter view images---*/

.summer-image {
    background: url("../images/got-summer.jpg");
    margin-right: 0.5em;
}

.winter-image { 
    background: url("../images/got-winter.jpg");
    margin-left: 0.5em;
}

.summer-image,
.winter-image {
    border-radius: 30px;
    width: 100px;
    height: 335px;
    background-repeat: no-repeat;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
    margin-left: 0.2em;
} 

/*------------Buttons of summer & winter pages---*/
.text-center{
    margin: 0.5em;
}

.btn-sum-win {
    border-radius: 100%;
    width: 85px;
    padding: 11px;
}

#todo,
#tosee,
#todosee,
#doseenear {
    padding-top: 2.2em;
    margin-left: 0.5em;
}


/*------------Images for summer & winter pages---*/

 img {
    border-radius: 30px;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0.05em;
    padding: 10px;
}

/*----------------Sign Up Form and submit button---*/

.centered-form {
    margin: 0 auto;
    max-width: 80%;
}

form {
    padding-top: 2em;
    padding-bottom: 2em;
}

.form-group input {
    border-color: rgba(238, 196, 10, 0.9);
    border-radius: 20px;
}

/*----------------Media Quaries---*/

@media only screen and (min-width: 768px) {

    .pages {
        height: 70px;
        width: 100px;
    }
    .pages .active {
        height: 70px;
        width: 100px;
        font-size: 21px;
        padding-top: 20px;
    }

    .btn-signup,
    .btn-sum-win {
        font-weight: 500;
        font-size: 18px;
        margin-top: 1em;
    }

    .btn-sum-win {
        border-radius: 30px;
        width: 130px;
    }

    .main-part {
        margin-right: 0.05em;
        margin-left: 0.05em;
    }

    .summer-image {
        margin-right: 0.1em;
    }

    .winter-image {
        margin-left: 0.1em;
    }

    .summer-image,
    .winter-image{
       max-width: 24%;
       margin-top: 2.2em;
       margin-bottom: 2em; 
    }
    
    .text-center{
    margin: 1em 2em 2em 2em;
    }

    h5 {
        padding-top: 10px;
    }

   img {
        width: 230px; 
        height: 200px;
        padding: 2px;
   }

   form {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

@media only screen and (min-width: 1025px) {
    .logo {
        font-size: 27px;
    }
    .pages {
        height: 70px;
        width: 100px;
    }
    .pages .active {
        height: 70px;
        width: 100px;
        font-size: 21px;
        padding-top: 20px;
    }
    .home-headings h2, h3{
        margin-top: 2em;
    }

    #todo,
    #tosee,
    #todosee,
    #doseenear {
      padding-top: 3.5em;
}

    img {
        width: 280px;
    }

    .centered-form {
        min-height: 16em;
        margin: 0 auto;
        max-width: 40%;
    }
}